<template>
  <div class="flex justify-center q-mt-sm">
    <q-pagination
      v-model="page"
      :max="pageNumber"
      :max-pages="6"
      size="mg"
      boundary-numbers
      class="justify-center"
    ></q-pagination>
  </div>
</template>
<script>
import { ref, toRefs, computed, watch, defineComponent } from 'vue'
export default defineComponent({
  props: {
    paginationCfg: {
      type: Object,
      default: null,
    },
    changePagination: {
      type: Function,
      default: null,
    },
    refresh: {
      type: Function,
      default: null,
    },
  },
  setup(props) {
    const { page, per_page, total } = toRefs(props.paginationCfg)
    const pageNumber = computed(() => Math.ceil(total.value / per_page.value))
    watch(
      () => page.value,
      async (newData) => {
        await props.changePagination({ page: newData })
        await props.refresh()
      }
    )
    return { pageNumber, page, per_page }
  },
})
</script>
