<!-- @format -->
<template>
  <EditComp />
</template>

<script>
import { defineComponent } from 'vue'
import { createNamespacedHelpers } from 'vuex'
const { mapActions } = createNamespacedHelpers('edit')
import EditComp from '@components/Edit/Style1.vue'
export default defineComponent({
  components: {
    EditComp,
  },
  methods: {
    ...mapActions([]),
  },
})
</script>
