<!-- @format -->
<template>
  <div class="q-pa-sm category">
    <div class="flex q-mb-lg">
      <q-btn
        class="add"
        color="primary"
        icon="add_circle"
        @click="mixi_changeAddDialog()"
      >
        <span class="text-subtitle2 text-weight-bold q-ml-xs">{{
          $t("system.add")
        }}</span>
      </q-btn>
    </div>
    <q-table
      table-header-class="tableClass"
      :table-style="{ lineHeight: '33px' }"
      :rows="rows"
      :columns="columns"
      row-key="name"
      hide-pagination
    >
      <template v-slot:body-cell-state="props">
        <q-td :props="props">
          <q-toggle v-model="props.value" disable />
        </q-td>
      </template>
      <template v-slot:body-cell-operate="props">
        <q-td :props="props">
          <q-btn class="q-mx-sm" color="primary" icon="edit" padding="xs" />
          <q-btn class="q-mx-sm" color="negative" icon="delete" padding="xs" />
        </q-td>
      </template>
    </q-table>
  </div>
  <Add v-if="false" :changeFlag="mixi_changeAddDialog" />
  <Edit
    v-if="false"
    :editData="mixi_editData"
    :changeFlag="mixi_changeEditDialog"
  />
  <Alert v-if="false" :changeFlag="mixi_changeAlertDialog" />
</template>

<script>
import { defineComponent } from "vue";
import Mixin from "./mixin";
import TableMixin from "@mixins/table.js";
import TableComp from "@components/Table/Style1.vue";
import PaginationComp from "@components/Pagination/Style1.vue";
import Add from "./feature/add.vue";
import Edit from "./feature/edit.vue";
import Alert from "./feature/alert.vue";
export default defineComponent({
  components: {
    // TableComp,
    Add,
    Edit,
    Alert,
  },
  mixins: [Mixin, TableMixin],
  data() {
    return {
      filterList: {
        text: "",
      },
      perPage: 1,

      columns: [
        {
          name: "id",
          label: this.$t("question.id"),
          field: "id",
          align: "center",
          sortable: true,
        },
        {
          name: "name",
          label: this.$t("question.name"),
          field: "name",
          align: "center",
        },
        {
          name: "category",
          label: this.$t("question.category"),
          field: "category",
          align: "center",
        },
        {
          name: "feature",
          label: this.$t("question.feature"),
          field: "feature",
          align: "center",
        },
        {
          name: "label",
          label: this.$t("question.label"),
          field: "label",
          align: "center",
        },
        {
          name: "state",
          label: this.$t("question.state"),
          field: "state",
          align: "center",
        },
        {
          name: "sort",
          label: this.$t("question.sort"),
          field: "sort",
          align: "center",
        },

        {
          name: "operate",
          label: this.$t("question.operate"),
          field: "operate",
          align: "center",
        },
      ],
      rows: [
        {
          id: 6100326568489,
          name: "毛濤",
          category: "HBCU3",
          label: 1,
          feature: "Ffghfgjko",
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: false,
        },
        {
          id: 153215613461,
          name: "潭平",
          category: "HBCU3",
          feature: 9.0,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
        {
          id: 153215613462,
          name: "周竟",
          category: "HBCU3",
          feature: 16.0,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
        {
          id: 153215613463,
          name: "博平",
          category: "HBCU3",
          feature: 3.7,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
        {
          id: 153215613464,
          name: "彭用",
          category: "HBCU3",
          feature: 16.0,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
        {
          id: 153215613465,
          name: "李羅",
          category: "HBCU3",
          feature: 0.0,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
        {
          id: 153215613466,
          name: "張鎮",
          category: "HBCU3",
          feature: 0.2,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
        {
          id: 153215613467,
          name: "葉問",
          category: "HBCU3",
          feature: 3.2,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
        {
          id: 153215613468,
          name: "葉準",
          category: "HBCU3",
          feature: 25.0,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
        {
          id: 153215613469,
          name: "永春",
          category: "HBCU3",
          feature: 26.0,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
        {
          id: 153215613453,
          name: "潭平",
          category: "HBCU3",
          feature: 25.0,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
        {
          id: 153215613450,
          name: "葉正",
          category: "HBCU3",
          feature: 26.0,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
        {
          id: 153215613473,
          name: "泰森",
          category: "HBCU3",
          feature: 25.0,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
        {
          id: 153215613499,
          name: "西瓜",
          category: "HBCU3",
          feature: 26.0,
          label: 1,
          sort: "2009-10-30",
          sign: "1993-06-13",
          state: true,
        },
      ],
    };
  },
  created() {
    this.mixi_pageListRefresh();
  },
});
</script>
<style lang="scss" scoped>
.category {
  position: relative;
  top: 100px;
}
.q-field {
  width: 18.23vw;
}
.state_btn {
  width: 150px;
}
.search_btn {
  width: 150px;
}
.add {
  margin-left: 15px;
}

:deep(.tableClass) {
  background-color: $primary;
  color: white;
}
</style>
