<template>
  <DialogComp :title="title" :flag="true" :changeFlag="props.changeCfg">
    <template v-slot:content>
      <div class="row items-center q-mb-lg">
        <label class="col-2">
          <span class="text-red-7 q-mr-xs">*</span>
          {{$t('authRole.name')}}
        </label>
        <q-input outlined dense class="col-10" v-model="data.form.name" required />
      </div>
      <div class="row items-center q-mb-lg">
        <label class="col-2">
          <span class="text-red-7 q-mr-xs">*</span>
          {{$t('authRole.description')}}
        </label>
        <q-input outlined dense class="col-10" v-model="data.form.description" required />
      </div>
      <div class="row items-center q-mb-lg">
        <label class="col-2">
          <span class="text-red-7 q-mr-xs">*</span>
          {{$t('authRole.state')}}
        </label>
        <q-toggle v-model="data.form.state" color="primary" />
      </div>
      <div class="row items-center q-mb-lg">
        <label class="col-2">
          <span class="text-red-7 q-mr-xs">*</span>
          {{$t('authRole.permissions')}}
        </label>
        <q-tree
          no-connectors
          default-expand-all
          :nodes="data.permissionlist"
          node-key="id"
          label-key="path"
          children-key="sub"
          tick-strategy="leaf"
          :duration="300"
          color="grey"
          text-color="grey"
          class="text-weight-bold"
          v-model:ticked="data.form.permission"
        ></q-tree>
      </div>
    </template>
    <template v-slot:footer>
      <q-btn
        class="q-mr-md no-box-shadow"
        color="negative"
        text-color="white"
        @click="props.changeCfg(null)"
      >
        <span>{{ $t('system.cancel') }}</span>
      </q-btn>
      <q-btn class="no-box-shadow" color="positive" @click="funcSubmit()">
        <span>{{ $t('system.sure') }}</span>
      </q-btn>
    </template>
  </DialogComp>
</template>
<script>
import { ref, reactive, defineComponent } from 'vue'
import { useI18n } from 'vue-i18n'
import DialogComp from '@components/Dialog/Style1.vue'
export default defineComponent({
  components: {
    DialogComp,
  },
  props: {
    changeCfg: {
      type: Function,
      default: null,
    },
    addInfo: {
      type: Function,
      default: null,
    },
    refresh: {
      type: Function,
      default: null,
    },
    roleList: {
      type: Object,
      default: () => {},
    },
  },
  setup(props) {
    const { t } = useI18n()
    const title = ref(t('system.add'))
    const data = reactive({
      form: {
        name: '',
        username: '',
        admin_role: '',
        email: '',
        authority: [],
        state: true,
      },
      permissionlist: [
        {
          id: 1,
          path: 'admin',
          icon: 'person',
          sub: [
            {
              id: 2,
              path: 'admin_role',
              icon: null,
            },
            {
              id: 3,
              path: 'admin_user',
              icon: null,
            },
          ],
        },
      ],
    })
    async function funcSubmit() {
      let res = await props.addInfo(data.form)
      if (res.code === 200) {
        props.refresh()
      }
    }
    return { props, title, data, funcSubmit }
  },
})
</script>