<template>
  <q-btn padding="0px" class="q-mr-sm settings">
    <img
      src="https://wpimg.wallstcn.com/f778738c-e4f8-4870-b634-56703b4acafe.gif?imageView2/1/w/80/h/80"
    />
    <q-menu transition-show="jump-down" transition-hide="jump-up" :offset="[0, 5]">
      <q-list>
        <q-item clickable>
          <q-item-section>個人設定</q-item-section>
        </q-item>
        <q-item clickable>
          <q-item-section>首頁</q-item-section>
        </q-item>
        <q-item clickable>
          <q-item-section @click="loginout()">登出</q-item-section>
        </q-item>
        <q-separator />
      </q-list>
    </q-menu>
  </q-btn>
</template>
<script>
import { defineComponent } from 'vue'
import { useRouter } from 'vue-router'
import { removeAllLocalStorage } from '@utils/method.js'
export default defineComponent({
  setup() {
    const router = useRouter()
    async function loginout() {
      removeAllLocalStorage()
      router.push({ path: '/login' })
    }
    return { loginout }
  },
})
</script>
<style lang="scss" scoped>
.settings {
  img {
    width: 40px;
  }
}
</style>
