<!-- @format -->
<template>
  <div class="main list">
    <!-- cards -->
    <div class="cardBox">
      <div class="card">
        <div>
          <div class="cardName">付費版</div>
          <div class="numbers">1,504</div>
        </div>
      </div>
      <div class="card">
        <div>
          <div class="cardName">免費版</div>
          <div class="numbers">80</div>
        </div>
      </div>
      <div class="card">
        <div>
          <div class="cardName">範本</div>
          <div class="numbers">284</div>
        </div>
      </div>
    </div>
    <div class="details">
      <!-- order details list -->
      <div class="recentOrders">
        <div class="cardHeader">
          <h2>範本</h2>
          <a href="javascript:void(0)" class="btn">全部</a>
        </div>
        <table>
          <thead>
            <tr>
              <td>版型名字</td>
              <td>價格</td>
              <td>作者</td>
              <td>狀態</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Star Refrigerator</td>
              <td>$1200</td>
              <td>Paid</td>
              <td>
                <span class="status delivered">Delivered</span>
              </td>
            </tr>
            <tr>
              <td>Window Coolers</td>
              <td>$110</td>
              <td>Due</td>
              <td>
                <span class="status pending">Pending</span>
              </td>
            </tr>
            <tr>
              <td>Speakers</td>
              <td>$620</td>
              <td>Paid</td>
              <td>
                <span class="status return">Return</span>
              </td>
            </tr>
            <tr>
              <td>Star Refrigerator</td>
              <td>$1200</td>
              <td>Paid</td>
              <td>
                <span class="status inprogress">In Progress</span>
              </td>
            </tr>
            <tr>
              <td>Star Refrigerator</td>
              <td>$1200</td>
              <td>Paid</td>
              <td>
                <span class="status delivered">Delivered</span>
              </td>
            </tr>
            <tr>
              <td>Star Refrigerator</td>
              <td>$1200</td>
              <td>Paid</td>
              <td>
                <span class="status pending">Pending</span>
              </td>
            </tr>
            <tr>
              <td>Star Refrigerator</td>
              <td>$1200</td>
              <td>Paid</td>
              <td>
                <span class="status return">Return</span>
              </td>
            </tr>
            <tr>
              <td>Star Refrigerator</td>
              <td>$1200</td>
              <td>Paid</td>
              <td>
                <span class="status inprogress">In Progress</span>
              </td>
            </tr>
            <tr>
              <td>Star Refrigerator</td>
              <td>$1200</td>
              <td>Paid</td>
              <td>
                <span class="status delivered">Delivered</span>
              </td>
            </tr>
            <tr>
              <td>Star Refrigerator</td>
              <td>$1200</td>
              <td>Paid</td>
              <td>
                <span class="status pending">Pending</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- New Customer -->
      <div class="recentCustomers">
        <div class="cardHeader">
          <h2>近期登入</h2>
        </div>
        <table>
          <tr>
            <td width="60px">
              <div class="imgBx">
                <img src="https://picsum.photos/300/300/?random=1" alt />
              </div>
            </td>
            <td>
              <h4>
                David
                <br />
                <span>Italy</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td width="60px">
              <div class="imgBx">
                <img src="https://picsum.photos/300/300/?random=2" alt />
              </div>
            </td>
            <td>
              <h4>
                David
                <br />
                <span>Italy</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td width="60px">
              <div class="imgBx">
                <img src="https://picsum.photos/300/300/?random=3" alt />
              </div>
            </td>
            <td>
              <h4>
                David
                <br />
                <span>Italy</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td width="60px">
              <div class="imgBx">
                <img src="https://picsum.photos/300/300/?random=4" alt />
              </div>
            </td>
            <td>
              <h4>
                David
                <br />
                <span>Italy</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td width="60px">
              <div class="imgBx">
                <img src="https://picsum.photos/300/300/?random=5" alt />
              </div>
            </td>
            <td>
              <h4>
                David
                <br />
                <span>Italy</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td width="60px">
              <div class="imgBx">
                <img src="https://picsum.photos/300/300/?random=6" alt />
              </div>
            </td>
            <td>
              <h4>
                David
                <br />
                <span>Italy</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td width="60px">
              <div class="imgBx">
                <img src="https://picsum.photos/300/300/?random=7" alt />
              </div>
            </td>
            <td>
              <h4>
                David
                <br />
                <span>Italy</span>
              </h4>
            </td>
          </tr>
          <tr>
            <td width="60px">
              <div class="imgBx">
                <img src="https://picsum.photos/300/300/?random=8" alt />
              </div>
            </td>
            <td>
              <h4>
                David
                <br />
                <span>Italy</span>
              </h4>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import { createNamespacedHelpers } from 'vuex'
const { mapActions } = createNamespacedHelpers('dashboard')
export default defineComponent({
  methods: {
    ...mapActions([]),
  },
})
</script>
<style lang="scss" scoped>
$blue: #287bff;
$white: #fff;
$grey: #f5f5f5;
$black1: #222;
$black2: #999;

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  .card {
    position: relative;
    background: $white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    &:hover {
      background: $blue;
      .numbers,
      .cardName,
      .iconBx {
        color: $white;
      }
    }
    .numbers {
      position: relative;
      font-weight: 500;
      font-size: 2.5em;
      color: $blue;
      text-align: center;
    }
    .cardName {
      color: $black2;
      font-size: 1.1em;
      margin-top: 5px;
      text-align: center;
      margin-bottom: 15px;
      font-weight: 900;
    }
    .iconBx {
      font-size: 3.5em;
      color: $black2;
    }
  }
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  .recentOrders {
    position: relative;
    min-height: 500px;
    background: $white;
    display: grid;
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    table {
      tr {
        color: $black1;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        &:last-child {
          border-bottom: none;
        }
        td {
          padding: 10px;
          &:last-child {
            text-align: end;
          }
          &:nth-child(2) {
            text-align: end;
          }
          &:nth-child(3) {
            text-align: center;
          }
        }
      }
      tbody {
        tr {
          &:hover {
            background: $blue;
            color: $white;
          }
        }
      }
    }
  }
  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    h2 {
      font-weight: 600;
      color: $blue;
      font-size: 1.5em;
      line-height: 1.5;
    }
    .btn {
      position: relative;
      padding: 5px 10px;
      background: $blue;
      text-decoration: none;
      color: $white;
      border-radius: 6px;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    thead {
      td {
        font-weight: 600;
      }
    }
  }
}

.status {
  &.delivered {
    padding: 2px 4px;
    background: #8de02c;
    color: $white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  &.pending {
    padding: 2px 4px;
    background: #f9ca3f;
    color: $white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  &.return {
    padding: 2px 4px;
    background: #f00;
    color: $white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
  &.inprogress {
    padding: 2px 4px;
    background: #1795ce;
    color: $white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
  }
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  .imgBx {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  table {
    tr {
      display: flex;
      &:hover {
        background: $blue;
        color: $white;
        span {
          color: $white;
        }
      }
      td {
        padding: 12px 10px;
        h4 {
          font-size: 16px;
          line-height: 1.2em;
          font-weight: 500;
          span {
            font-size: 14px;
            color: var(--black2);
          }
        }
      }
    }
  }
}

.main {
  &.list {
    width: 100%;
    left: 0;
    position: relative;
    top: 100px;
  }
}

/* responsive design */
@media (max-width: 991px) {
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status {
    .inprogress {
      white-space: nowrap;
    }
  }
}
@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentCustomers {
    h2 {
      font-size: 18px;
    }
  }
}
</style>
