<!-- @format -->
<template>
  <div class="q-pa-sm account">
    <div class="flex q-mb-lg">
      <!-- <q-input label="名稱" dense outlined v-model="filterList.name" />
      <q-btn class="q-mx-sm" color="primary" icon="search">
        <span class="text-subtitle2 text-weight-bold q-ml-xs">{{ $t('system.search') }}</span>
      </q-btn>-->
      <q-btn class="add" color="primary" icon="add_circle" @click="hook_funcChangeAddCfg()">
        <span class="text-subtitle2 text-weight-bold q-ml-xs">
          {{
          $t("system.add")
          }}
        </span>
      </q-btn>
    </div>
    <TableComp
      :columns="columns"
      :rows="hook_dataList"
      :dataTotal="hook_pagination.total"
      v-model:perPage="hook_pagination.perPage"
    >
      <template v-slot:body-cell-status="props">
        <q-td :props="props">
          <q-toggle v-model="props.value" disable />
        </q-td>
      </template>
      <template v-slot:body-cell-operate="props">
        <q-td :props="props">
          <q-btn
            class="q-mx-sm"
            color="primary"
            icon="edit"
            padding="xs"
            @click="hook_funcChangeEditCfg(props.row.id)"
          />
          <q-btn
            class="q-mx-sm"
            color="negative"
            icon="delete"
            padding="xs"
            @click="funcDelte(props.row.id)"
          />
        </q-td>
      </template>
    </TableComp>
    <PaginationComp
      :paginationCfg="hook_pagination"
      :changePagination="hook_funcChangePagination"
      :refresh="funcInit"
    />
  </div>
  <Add
    v-if="hook_addCfg.flag"
    :editCfg="hook_addCfg"
    :changeCfg="hook_funcChangeAddCfg"
    :addInfo="hook_funcAddInfo"
    :refresh="funcInit"
    :roleList="roleList"
  />
  <Edit
    v-if="hook_editCfg.flag"
    :editCfg="hook_editCfg"
    :changeCfg="hook_funcChangeEditCfg"
    :getInfo="hook_funcGetInfo"
    :editInfo="hook_funcEditInfo"
    :refresh="funcInit"
    :roleList="roleList"
  />
</template>

<script>
import { ref, defineComponent } from 'vue'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
const { useActions } = createNamespacedHelpers('crmAuthUser')
import tableHook from '@hooks/table.js'
import TableComp from '@components/Table/Style1.vue'
import PaginationComp from '@components/Pagination/Style1.vue'
import Add from './feature/add.vue'
import Edit from './feature/edit.vue'
export default defineComponent({
  components: {
    TableComp,
    PaginationComp,
    Add,
    Edit,
  },
  setup(props) {
    const {
      //hook confing
      hook_dataList,
      hook_pagination,
      hook_addCfg,
      hook_editCfg,
      //修改
      hook_funcChangeEditCfg,
      hook_funcGeList,
      hook_funcGetInfo,
      hook_funcEditInfo,
      //新增
      hook_funcChangeAddCfg,
      hook_funcAddInfo,
      //刪除
      hook_funcChangeDelInfo,
      //切換Page
      hook_funcChangePagination,
    } = tableHook('crmAuthUser')
    const roleObj = ref({})
    const roleList = ref([])
    const { actionRoleList } = useActions(['actionRoleList'])
    const list = ref(['程式部', '設計部', '專案部'])
    const columns = ref([
      {
        name: 'display_name',
        i18nlabel: 'authUser.name',
        field: 'display_name',
        align: 'center',
      },
      {
        name: 'account',
        i18nlabel: 'authUser.username',
        field: 'account',
        align: 'center',
      },
      {
        name: 'role_name',
        i18nlabel: 'authUser.role',
        field: 'role_name',
        align: 'center',
      },
      {
        name: 'email',
        i18nlabel: 'authUser.email',
        field: 'email',
        align: 'center',
      },
      {
        name: 'status',
        i18nlabel: 'authUser.state',
        field: 'status',
        align: 'center',
      },
      {
        name: 'operate',
        i18nlabel: 'authUser.operate',
        field: 'operate',
        align: 'center',
      },
    ])
    funcGetRoleList()
    funcInit()
    //初始化渲染
    async function funcInit() {
      // 獲得全部資料
      await hook_funcGeList({})
      await hook_dataList.value.map((item) => {
        item.status == 1 ? (item.status = true) : (item.status = false)
        item.role_name = '程式部'
      })
    }
    // 獲得角色資料
    async function funcGetRoleList() {
      let res = await actionRoleList({})

      if (res.code === 200) {
        let ary = res.data.lists
        ary.map((item) => {
          item.name = '程式部'
          roleObj.value[item.id] = item.name
        })
        roleList.value = ary
      }
    }
    // 刪除資料
    async function funcDelte(id) {
      let res = await hook_funcChangeDelInfo(id)
      if (res.code === 200) {
        funcInit()
      }
    }
    return {
      columns,
      roleList,
      funcInit,
      funcDelte,
      //hook confing
      hook_dataList,
      hook_pagination,
      hook_addCfg,
      hook_editCfg,
      //修改
      hook_funcChangeEditCfg,
      hook_funcGeList,
      hook_funcGetInfo,
      hook_funcEditInfo,
      //新增
      hook_funcChangeAddCfg,
      hook_funcAddInfo,
      //刪除
      hook_funcChangeDelInfo,
      //切換Page
      hook_funcChangePagination,
    }
  },
})
</script>
<style lang="scss" scoped>
.account {
  position: relative;
  top: 125px;
}
.q-field {
  width: 18.23vw;
}
.add {
  margin-left: 6vw;
}
</style>
