<template>
  <Form class="wrap" v-slot="{ errors }">
    <DialogComp :title="title" :flag="true" :changeFlag="props.changeCfg">
      <template v-slot:content>
        <div class="row items-center q-mb-lg">
          <label class="col-2">
            <span class="text-red-7 q-mr-xs">*</span>
            {{ $t("authUser.name") }}
          </label>
          <q-input outlined dense class="col-10" v-model="data.form.display_name" required />
        </div>
        <div class="row items-center q-mb-lg">
          <label class="col-2">
            <span class="text-red-7 q-mr-xs">*</span>
            {{ $t("authUser.username") }}
          </label>
          <Field
            name="username"
            rules="required"
            placeholder="username"
            v-slot="{ field }"
            v-model="data.form.account"
          >
            <q-input v-bind="field" outlined dense class="col-10" v-model="data.form.account" />
          </Field>
          <span class="error">{{ errors.username }}</span>
        </div>
        <div class="row items-center q-mb-lg">
          <label class="col-2">
            <span class="text-red-7 q-mr-xs">*</span>
            {{ $t("authUser.editPassword") }}
          </label>
          <q-input outlined dense class="col-10" v-model="data.form.password" />
        </div>
        <div class="row items-center q-mb-lg">
          <label class="col-2">
            <span class="text-red-7 q-mr-xs">*</span>
            {{ $t("authUser.confirmPassword") }}
          </label>
          <q-input
            outlined
            dense
            class="col-10"
            v-model="data.form.password_confirmation"
            required
          />
        </div>
        <div class="row items-center q-mb-lg">
          <label class="col-2">
            <span class="text-red-7 q-mr-xs">*</span>
            {{ $t("authUser.role") }}
          </label>
          <q-select
            outlined
            dense
            class="col-3"
            option-value="id"
            option-label="name"
            map-options
            emit-value
            :options="props.roleList"
            v-model="data.form.role_id"
          />
        </div>
        <div class="row items-center q-mb-lg">
          <label class="col-2">
            <span class="text-red-7 q-mr-xs">*</span>
            {{ $t("authUser.email") }}
          </label>
          <q-input outlined dense class="col-10" v-model="data.form.email" required />
        </div>
        <div class="row items-center q-mb-lg">
          <label class="col-2">
            <span class="text-red-7 q-mr-xs">*</span>
            {{ $t("authUser.state") }}
          </label>
          <q-toggle v-model="data.form.status" color="primary" />
        </div>

        <!-- <div class="row items-center q-mb-lg">
          <label class="col-2">
            <span class="text-red-7 q-mr-xs">*</span>
            Permission
          </label>
          <q-tree
            no-connectors
            default-expand-all
            :nodes="data.permissionlist"
            node-key="id"
            label-key="path"
            children-key="sub"
            tick-strategy="leaf"
            :duration="300"
            color="grey"
            text-color="grey"
            class="text-weight-bold"
            v-model:ticked="data.form.permission"
          ></q-tree>
        </div>-->
      </template>
      <template v-slot:footer>
        <q-btn
          class="q-mr-md no-box-shadow"
          color="negative"
          text-color="white"
          @click="props.changeCfg(null)"
        >
          <span>{{ $t("system.cancel") }}</span>
        </q-btn>
        <q-btn class="no-box-shadow" color="positive" @click="funcSubmit(errors)">
          <span>{{ $t("system.sure") }}</span>
        </q-btn>
      </template>
    </DialogComp>
  </Form>
</template>
<script>
import { ref, reactive, onBeforeMount, defineComponent } from 'vue'
import { useI18n } from 'vue-i18n'
import DialogComp from '@components/Dialog/Style1.vue'
import { Form, Field } from 'vee-validate'
export default defineComponent({
  components: {
    DialogComp,
    Form,
    Field,
  },
  props: {
    editCfg: {
      type: Object,
      default: function () {
        return {}
      },
    },
    changeCfg: {
      type: Function,
      default: null,
    },
    getInfo: {
      type: Function,
      default: null,
    },
    editInfo: {
      type: Function,
      default: null,
    },
    refresh: {
      type: Function,
      default: null,
    },
    roleList: {
      type: Object,
      default: () => {},
    },
  },
  setup(props) {
    const { t } = useI18n()
    const title = ref(t('system.edit'))
    const data = reactive({
      form: {
        account: '',
        email: '',
        password: '',
        password_confirmation: '',
        display_name: '',
        status: '',
        role_id: '',
      },
    })

    onBeforeMount(() => {
      funcGetInfoData()
    })
    async function funcGetInfoData() {
      let res = await props.getInfo()
      if (res.code === 200) {
        data.form = Object.assign(data.form, res.data)
        data.form.status == 1
          ? (data.form.status = true)
          : (data.form.status = false)
        console.log(data.form)
      }
    }
    async function funcSubmit(validate) {
      if (Object.keys(validate).length > 0) {
        return
      }
      data.form.admin_role = data.form.admin_role_id
      let res = await props.editInfo(data.form)
      if (res.code === 200) {
        props.refresh()
      }
    }
    return { props, data, title, funcSubmit }
  },
})
</script>
