<template>
  <q-breadcrumbs
    v-for="(item, key) in tags"
    :key="key"
    gutter="xs"
    class="bread text-primary"
    active-color="black"
  >
    <q-breadcrumbs-el v-if="key === 0" :label="$t('menu.' + item)" />
    <q-breadcrumbs-el v-else :label="'/' + $t('menu.' + item)" />
  </q-breadcrumbs>
</template>
<script>
import { ref, watch, onMounted, defineComponent } from "vue";
import { useRoute } from "vue-router";
export default defineComponent({
  setup() {
    const tags = ref([]);
    const route = useRoute();
    watch(
      () => route.path,
      async (newData) => {
        setTags(newData);
      }
    );
    onMounted(() => {
      setTags(route.path);
    });
    function setTags(routeStr) {
      let path = routeStr.substring(1).split("/");
      tags.value = path;
    }
    return { tags };
  },
});
</script>
