<!-- @format -->
<template>
  <div class="q-pa-sm role">
    <div class="flex q-mb-lg">
      <!-- <q-input label="名稱" dense outlined v-model="filterList.name" />
      <q-btn class="q-mx-sm" color="primary" icon="search">
        <span class="text-subtitle2 text-weight-bold q-ml-xs">{{ $t('system.search') }}</span>
      </q-btn>-->
      <q-btn class="add" color="primary" icon="add_circle" @click="hook_funcChangeAddCfg()">
        <span class="text-subtitle2 text-weight-bold q-ml-xs">
          {{
          $t("system.add")
          }}
        </span>
      </q-btn>
    </div>
    <TableComp
      :columns="columns"
      :rows="hook_dataList"
      :dataTotal="hook_pagination.total"
      v-model:perPage="hook_pagination.perPage"
    >
      <template v-slot:body-cell-status="props">
        <q-td :props="props">
          <q-toggle v-model="props.value" disable />
        </q-td>
      </template>
      <template v-slot:body-cell-operate="props">
        <q-td :props="props">
          <q-btn
            class="q-mx-sm"
            color="primary"
            icon="edit"
            padding="xs"
            @click="hook_funcChangeEditCfg(props.row.id)"
          />
          <q-btn
            class="q-mx-sm"
            color="negative"
            icon="delete"
            padding="xs"
            @click="funcDelte(props.row.id)"
          />
        </q-td>
      </template>
    </TableComp>
    <PaginationComp
      :paginationCfg="hook_pagination"
      :changePagination="hook_funcChangePagination"
      :refresh="funcInit"
    />
  </div>
  <Add
    v-if="hook_addCfg.flag"
    :changeCfg="hook_funcChangeAddCfg"
    :addInfo="hook_funcAddInfo"
    :refresh="funcInit"
    :permissionList="permissionList"
  />
  <Edit
    v-if="hook_editCfg.flag"
    :editCfg="hook_editCfg"
    :changeCfg="hook_funcChangeEditCfg"
    :getInfo="hook_funcGetInfo"
    :editInfo="hook_funcEditInfo"
    :refresh="funcInit"
    :permissionList="permissionList"
  />
</template>

<script>
import { ref, defineComponent } from 'vue'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
const { useActions } = createNamespacedHelpers('crmAuthRole')
import tableHook from '@hooks/table.js'
import TableComp from '@components/Table/Style1.vue'
import PaginationComp from '@components/Pagination/Style1.vue'
import Add from './feature/add.vue'
import Edit from './feature/edit.vue'
import { permissions } from 'src/i18n/en-US/authRole'
export default defineComponent({
  components: {
    TableComp,
    PaginationComp,
    Add,
    Edit,
  },
  setup() {
    const {
      //hook confing
      hook_dataList,
      hook_pagination,
      hook_addCfg,
      hook_editCfg,

      //修改
      hook_funcChangeEditCfg,
      hook_funcGeList,
      hook_funcGetInfo,
      hook_funcEditInfo,
      //新增
      hook_funcChangeAddCfg,
      hook_funcAddInfo,
      //刪除
      hook_funcChangeDelInfo,
      //切換Page
      hook_funcChangePagination,
      // 權限
    } = tableHook('crmAuthRole')
    const { actionPermissionsData } = useActions(['actionPermissionsData'])
    const columns = ref([
      {
        name: 'name',
        i18nlabel: 'authRole.name',
        field: 'name',
        align: 'center',
      },
      {
        name: 'description',
        i18nlabel: 'authRole.description',
        field: 'description',
        align: 'center',
      },
      {
        name: 'status',
        i18nlabel: 'authRole.state',
        field: 'status',
        align: 'center',
      },
      {
        name: 'operate',
        i18nlabel: 'authRole.operate',
        field: 'operate',
        align: 'center',
      },
    ])
    const permissionList = ref([])
    funcInit()
    fucGetPermissionsInfo()

    async function funcInit() {
      await hook_funcGeList({})
      await hook_dataList.value.map((item) => {
        item.status == 1 ? (item.status = true) : (item.status = false)
      })
      console.log(hook_dataList.value)
    }
    async function funcDelte(id) {
      let res = await hook_funcChangeDelInfo(id)
      if (res.code === 200) {
        funcInit()
      }
    }
    // 獲取權限資料
    async function fucGetPermissionsInfo(postData) {
      let res = await actionPermissionsData(postData)
      if (res.code == 200) {
        permissionList.value = res.data
        permissionList.value[0]['children'].map((item) => {
          item.icon = null
        })
      }
    }
    return {
      columns,
      permissionList,
      funcInit,
      funcDelte,
      //hook confing
      hook_dataList,
      hook_pagination,
      hook_addCfg,
      hook_editCfg,
      //修改
      hook_funcChangeEditCfg,
      hook_funcGeList,
      hook_funcGetInfo,
      hook_funcEditInfo,
      //新增
      hook_funcChangeAddCfg,
      hook_funcAddInfo,
      //刪除
      hook_funcChangeDelInfo,
      //切換Page
      hook_funcChangePagination,
    }
  },
})
</script>
<style lang="scss" scoped>
.role {
  position: relative;
  top: 125px;
}
.q-field {
  width: 18.23vw;
}
.add {
  margin-left: 6vw;
}
</style>
