<!-- @format -->
<template>
  <p>123</p>
</template>

<script>
import { defineComponent } from "vue";
import Mixin from "./mixin";
import TableMixin from "@mixins/table.js";
import TableComp from "@components/Table/Style1.vue";
import PaginationComp from "@components/Pagination/Style1.vue";
import Add from "./feature/add.vue";
import Edit from "./feature/edit.vue";
import Alert from "./feature/alert.vue";
export default defineComponent({
  components: {
    // TableComp,
    // PaginationComp,
    // Add,
    // Edit,
    // Alert,
  },
  mixins: [Mixin, TableMixin],
  data() {
    return {
      filterList: {
        text: "",
      },
      columns: [
        {
          name: "name",
          label: this.$t("label.name"),
          field: "name",
          align: "center",
        },
        {
          name: "state",
          label: this.$t("label.state"),
          field: "state",
          align: "center",
        },
        {
          name: "create",
          label: this.$t("label.create"),
          field: "create",
          align: "center",
        },

        {
          name: "operate",
          label: this.$t("label.operate"),
          field: "operate",
          align: "center",
        },
      ],
    };
  },
  created() {
    this.mixi_pageListRefresh();
  },
});
</script>
<style lang="scss" scoped>
.account {
  position: relative;
  top: 100px;
}
.q-field {
  width: 18.23vw;
}
.state_btn {
  width: 150px;
}
.search_btn {
  width: 150px;
}
.add {
  margin-left: 15px;
}
</style>
