<template>
  <AuthRoleMd />
</template>

<script>
import { defineComponent } from 'vue'
import AuthRoleMd from '@modules/AuthRole/index.vue'
export default defineComponent({
  name: 'PageAuthRole',
  components: {
    AuthRoleMd,
  },
})
</script>
