<template>
  <AuthUserMd />
</template>

<script>
import { defineComponent } from 'vue'
import AuthUserMd from '@modules/AuthUser/index.vue'
export default defineComponent({
  name: 'PageAuthUser',
  components: {
    AuthUserMd,
  },
})
</script>
