<template>
  <DashboardMd />
</template>

<script>
import { defineComponent } from 'vue'
import DashboardMd from '@modules/Dashboard/index.vue'
export default defineComponent({
  name: 'PageDashboard',
  components: {
    DashboardMd,
  },
})
</script>
