<template>
  <EditMd />
</template>

<script>
import { defineComponent } from 'vue'
import EditMd from '@modules/Edit/index.vue'
export default defineComponent({
  name: 'PageEdit',
  components: {
    EditMd,
  },
})
</script>
