<template>
  <div class="navigation" :class="{active:navFlag}">
    <div class="brand">
      <a href="javascript:void(0)">
        <span class="icon">
          <q-icon :name="navIcon" />
        </span>
        <span class="title">{{navTitile}}</span>
      </a>
    </div>
    <ul>
      <li
        v-for="(item,key) in navList"
        :key="key"
        :class="{ active: tab === item.name }"
        :style="{ height: liHeight(item) }"
        @click="changeTab(item)"
      >
        <a href="javascript:void(0)" @click="link(item)" class="color">
          <span class="icon">
            <q-icon :name="item.icon" />
          </span>
          <span class="title">{{item.name}}</span>
        </a>
        <div v-if="item.children.length > 0 ">
          <div class="open" :class="{  active: tab === item.name && subTab !== null }">
            <q-icon name="expand_more " />
          </div>
          <ul class="more" :class="{ active: tab === item.name && subTab !== null  }">
            <!-- li的active 不需要了 -->
            <!-- 添加選單收起第二層收起的js -->
            <li
              v-for="(subItem,subKey) in item.children"
              :key="subKey"
              :class="{ active: subTab === subItem.name }"
              :style="{ height: item.children * 120 + 'px' }"
              @click.stop="changeSubTab(subItem)"
            >
              <!-- 當選擇了時候A標籤必須個別添加active -->
              <router-link :to="{ name: subItem.name }" class="active">{{subItem.name}}</router-link>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
import { defineComponent } from 'vue'
export default defineComponent({
  props: {
    navFlag: {
      type: Boolean,
      default: true,
    },
    navList: {
      type: Array,
      default: () => [],
    },
    navTitile: {
      type: String,
      default: '',
    },
    navIcon: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      tab: null,
      subTab: null,
    }
  },
  created() {
    this.setTab(this.$route.name)
  },
  methods: {
    setTab(typeName) {
      for (let i = 0; i < this.navList.length; i++) {
        let item = this.navList[i]
        if (item.name == typeName) {
          this.tab = item.name
          this.subTab = null
          return
        } else {
          for (let j = 0; j < item.children.length; j++) {
            let subItem = item.children[j]
            if (subItem.name == typeName) {
              this.tab = item.name
              this.subTab = subItem.name
            }
            return
          }
        }
      }
    },
    changeTab(item) {
      if (this.tab == item.name) {
        this.tab = null
        this.subTab = null
        return
      } else {
        this.tab = item.name
      }
      if (item.children.length > 0) {
        let nowTab = this.$route.name
        let state = false
        item.children.map((item) => {
          if (item.name == nowTab) {
            state = true
          }
        })
        if (state) {
          this.changeSubTab(this.$route.name)
        } else {
          this.changeSubTab(item.children[0])
        }
      } else {
        this.subTab = null
      }
    },
    link(item) {
      if (item.name == this.$route.matched[0].name) {
        return
      } else {
        this.$router.push({ name: item.name })
      }
    },
    changeSubTab(item) {
      this.subTab = item.name
      this.$router.push({ name: item.name })
    },
    liHeight(item) {
      let height = 60
      if (this.tab === item.name) {
        height =
          item.children.length == 0 ? 60 : 60 * (item.children.length + 1)
      }
      return height + 'px'
    },
  },
})
</script>
<style lang="scss" scoped>
$grey: #efefef; //hover
$white: #fff;
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: $primary;
  border-left: 10px solid $primary;
  transition: 0.35s ease;
  overflow: hidden;
  overflow-y: auto;
  &.active {
    width: 80px;
    .open {
      opacity: 0;
    }
    ul {
      li {
        height: 60px !important;
      }
    }
  }
  .brand {
    pointer-events: none;
    margin-bottom: 30px;
    a {
      position: relative;
      width: 100%;
      display: flex;
      text-decoration: none;
      color: $white;
      bottom: -20px;
      .icon {
        position: relative;
        display: block;
        min-width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        .q-icon {
          font-size: 1.75em;
        }
      }
      .title {
        position: relative;
        display: block;
        padding: 0 10px;
        height: 60px;
        line-height: 60px;
        white-space: nowrap;
        font-size: 32px;
      }
    }
  }
  ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    li {
      position: relative;
      width: 100%;
      list-style: none;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      height: 60px;
      transition: height 0.35s ease;
      overflow: hidden;
      &:hover {
        background: rgba($grey, $alpha: 0.5);
      }
      &.active {
        background: $white;
        transition: height 0.35s ease;
        a {
          color: $primary;
          &::before {
            content: '';
            position: absolute;
            right: 0;
            top: -50px;
            width: 50px;
            height: 50px;
            background: transparent;
            border-radius: 50%;
            box-shadow: 35px 35px 0 10px $white;
            pointer-events: none;
          }
          &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -50px;
            width: 50px;
            height: 50px;
            background: transparent;
            border-radius: 50%;
            box-shadow: 35px -35px 0 10px $white;
            pointer-events: none;
          }
        }
        .color {
          transition: 0.35s ease;
          &::before,
          &::after {
            display: none;
          }
          &:hover {
            transition: 0.35s ease;
            background: rgba($grey, $alpha: 0.5);
          }
        }
      }

      a {
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        text-decoration: none;
        color: $white;
        z-index: 10;

        .icon {
          position: relative;
          display: block;
          min-width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          .q-icon {
            font-size: 1.75em;
          }
        }
        .title {
          position: relative;
          display: block;
          padding: 0 10px;
          height: 60px;
          line-height: 60px;
          white-space: nowrap;
        }
      }
      .open {
        display: block;
        position: absolute;
        width: 1em;
        height: 1em;
        right: 10px;
        top: 15px;
        display: flex;
        cursor: pointer;
        z-index: 11;
        opacity: 1;
        color: #fff;
        font-size: 24px;
        &.active {
          i {
            transition: 0.35s ease;
            color: $primary;
            transform: rotate(180deg);
            transform-origin: 50% 50%;
          }
        }
        i {
          transition: 0.35s ease;
        }
      }
      .more {
        position: relative;
        display: none;
        &.active {
          display: block;
        }
        li {
          margin-bottom: 0;
          padding-left: 90px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          cursor: pointer;
          pointer-events: initial;
          line-height: 60px;
          &:hover {
            background: rgba($grey, $alpha: 0.5);
            a {
              &::before,
              &::after {
                display: none;
              }
            }
          }
          a {
            color: $primary;
            &.active {
              color: $accent;
              font-weight: 900;
            }
          }
        }
      }
    }
  }
}

/* responsive design */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
    &.active {
      width: 300px;
      left: 0;
      .open {
        opacity: 1;
      }
    }
  }
}
@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inprogress {
    white-space: nowrap;
  }
}
@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentCustomers h2 {
    font-size: 18px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 10;
    &.active {
      width: 100%;
      left: 0;
    }
  }
}
</style>