<template>
  <q-btn padding="3px" color="primary" icon="language" class="translate" size="20px">
    <q-menu :offset="[30, 5]" transition-show="jump-down" transition-hide="jump-up" class="flex">
      <q-list>
        <q-item
          v-for="(item,key) in langList"
          :key="key"
          :active="locale === item.value"
          clickable
          active-class="active"
          @click="changeLang(item)"
        >
          <q-item-section clickable>{{$t('lang.' + item.value )}}</q-item-section>
        </q-item>
        <q-separator />
      </q-list>
    </q-menu>
  </q-btn>
</template>
<script>
import { ref, onMounted, defineComponent } from 'vue'
import { useI18n } from 'vue-i18n'
import i18nMessage from 'src/i18n'
export default defineComponent({
  setup() {
    const langList = ref([])
    const { locale } = useI18n({ useScope: 'global' })
    onMounted(() => {
      Object.keys(i18nMessage).map((item) => {
        let obj = { value: '' }
        obj.value = item
        langList.value.push(obj)
      })
    })
    function changeLang(lang) {
      locale.value = lang.value
    }
    return { langList, locale, changeLang }
  },
})
</script>
<style lang="scss" scoped>
$white: #fff;
.active {
  color: $white;
  background: $primary;
}
.translate {
  margin-right: 8px;
}
</style>