<template>
  <q-table
    table-header-class="tableClass"
    :table-style="{lineHeight:'33px'}"
    :rows="rows"
    :columns="tableColumns"
    row-key="name"
    hide-pagination
    v-model:pagination="tablePage"
  >
    <template v-for="slot in Object.keys($slots)" v-slot:[slot]="scope">
      <slot :name="slot" v-bind="scope" />
    </template>
  </q-table>
</template>
<script>
import { defineComponent } from 'vue'
export default defineComponent({
  props: {
    columns: {
      type: Array,
      default: function () {
        return []
      },
    },
    rows: {
      type: Array,
      default: function () {
        return []
      },
    },
    perPage: {
      type: Number,
      default: function () {
        return 20
      },
    },
  },
  watch: {
    '$i18n.locale'() {
      this.init()
    },
  },
  data() {
    return {
      tableColumns: [],
      tablePage: {
        rowsPerPage: this.perPage,
      },
    }
  },
  created() {
    this.init()
  },
  methods: {
    init() {
      let self = this
      this.tableColumns = JSON.parse(JSON.stringify(this.columns))
      this.tableColumns.map((item) => {
        item.label = self.$t(item.i18nlabel)
      })
    },
  },
})
</script>
<style lang="scss" scoped>
:deep(.tableClass) {
  background-color: $primary;
  color: white;
}
</style>