<template>
  <Form class="wrap" @submit="funcLogin()" v-slot="{ errors }">
    <div class="box">
      <div class="form">
        <h2>Login</h2>
        <div class="inputBx">
          <Field
            name="username"
            v-model="loginData.username"
            type="text"
            placeholder="Username"
            rules="required"
          />
          <q-icon name="person" />
          <span class="error">{{ errors.username }}</span>
        </div>
        <div class="inputBx">
          <Field
            name="password"
            v-model="loginData.password"
            type="password"
            placeholder="Password"
            rules="required"
          />
          <q-icon name="lock" />
          <span class="error">{{ errors.password }}</span>
        </div>
        <label class="remember">
          <input
            type="checkbox"
            @click="funcChangeRememberFlag()"
            v-model="loginData.rememberFlag"
          />
          Remember Me
        </label>
        <div class="inputBx">
          <input type="submit" value="submit" />
        </div>
      </div>
    </div>
  </Form>
</template>
<script>
import { reactive, defineComponent } from "vue";
import { Form, Field } from "vee-validate";
import {
  setLocalStorage,
  getLocalStorage,
  removeLocalStorage,
} from "@utils/method.js";
export default defineComponent({
  components: {
    Form,
    Field,
  },
  props: {
    fcLogin: {
      type: Function,
      default: null,
    },
    remember: {
      type: Function,
      default: null,
    },
  },
  setup(props) {
    const loginData = reactive({
      username: "",
      password: "",
      rememberFlag: false,
    });
    let storeData = getLocalStorage("loginData");
    if (storeData !== null && storeData !== undefined) {
      loginData.username = storeData.username;
      loginData.password = storeData.password;
      loginData.rememberFlag = storeData.rememberFlag;
    }
    function funcChangeRememberFlag() {
      loginData.rememberFlag = !loginData.rememberFlag;
      if (!loginData.rememberFlag) {
        removeLocalStorage("loginData");
      }
    }
    function funcLogin() {
      if (loginData.rememberFlag) {
        setLocalStorage("loginData", loginData);
      }
      props.fcLogin(loginData);
    }
    return { loginData, funcChangeRememberFlag, funcLogin };
  },
});
</script>
<style lang="scss" scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    -30deg,
    #03a9f4 0%,
    #3a78b7 50%,
    #262626 50%,
    #607d8b 100%
  );
  animation: change 10s linear infinite;
  @keyframes change {
    0% {
      filter: hue-rotate(0);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  .box {
    position: relative;
    padding: 50px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
    &:after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      bottom: 5px;
      right: 5px;
      border-radius: 5px;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.1) 15%,
        transparent 50%,
        transparent 85%,
        rgba(255, 255, 255, 0.3) 100%
      );
    }
    .form {
      position: relative;
      width: 100%;
      z-index: 10;
      h2 {
        color: #fff;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 30px;
        font-size: 24px;
      }
      .inputBx {
        position: relative;
        width: 100%;
        margin-bottom: 30px;

        input {
          width: 100%;
          outline: none;
          border: 1px solid rgba(255, 255, 255, 0.2);
          background: transparent;
          padding: 8px 10px;
          padding-left: 35px;
          border-radius: 6px;
          color: #fff;
          font-size: 16px;
          font-weight: 300;
          box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.2);
        }
        input[type="submit"] {
          background: #fff;
          max-width: 100px;
          color: #111;
          padding: 8px 10px;
          font-weight: 500;
          letter-spacing: 1px;
          cursor: pointer;
          box-shadow: none;
          transition: 0.35s ease;
          &:hover {
            background: #000;
            color: #fff;
            transition: 0.35s ease;
            font-weight: 900;
          }
        }
        i {
          position: absolute;
          font-size: 20px;
          top: 7px;
          left: 10px;
          filter: invert(1);
        }
      }

      .remember {
        position: relative;
        display: inline-block;
        color: #fff;
        font-weight: 300;
        margin-bottom: 10px;
        cursor: pointer;
      }
    }
    .error {
      position: absolute;
      color: #ffffff;
      bottom: -25px;
      left: 0;
    }
  }
}
</style>
