<template>
  <DialogComp :title="title" :flag="true" :changeFlag="changeFlag" class="add_card">
    <template v-slot:content>
      <div class="row items-center q-mb-lg">
        <q-input outlined dense class="col-12" v-model="form.name" required />
      </div>
      <div class="flex">
        <div class="row items-center q-mb-lg">
          <label class="col-4">
            <span class="text-red-7 q-mr-xs">*</span>
            {{$t('question.category')}}
          </label>
          <q-input outlined dense class="col-7" v-model="form.category" required />
        </div>
        <div class="row items-center q-mb-lg">
          <label class="col-4">
            <span class="text-red-7 q-mr-xs">*</span>
            {{$t('question.feature')}}
          </label>
          <q-input outlined dense class="col-8" v-model="form.feature" required />
        </div>
      </div>
      <div class="flex box">
        <div class="row items-center q-mb-lg">
          <label class="col-4">
            <span class="text-red-7 q-mr-xs">*</span>
            {{$t('question.state')}}
          </label>
          <q-toggle v-model="form.state" color="primary" />
        </div>
        <div class="row items-center q-mb-lg">
          <label class="col-5">
            <span class="text-red-7 q-mr-xs">*</span>
            {{$t('question.sort')}}
          </label>
          <q-input outlined dense class="col-7" v-model="form.sort" required />
        </div>
      </div>

      <div class="row items-center q-mb-lg">
        <label class="col-12">
          <span class="text-red-7 q-mr-xs">*</span>
          {{$t('question.label')}}
        </label>
        <div class="wrap">
          <div class="item">
            <p>工業</p>
            <q-icon name="close" class="icon"></q-icon>
          </div>
          <div class="item">
            <p>商業</p>
            <q-icon name="close" class="icon"></q-icon>
          </div>
          <div class="item">
            <p>金融業</p>
            <q-icon name="close" class="icon"></q-icon>
          </div>
          <div class="item">
            <p>服務業</p>
            <q-icon name="close" class="icon"></q-icon>
          </div>
          <div class="item">
            <p>美容美髮業</p>
            <q-icon name="close" class="icon"></q-icon>
          </div>
          <div class="item">
            <p>餐飲業</p>
            <q-icon name="close" class="icon"></q-icon>
          </div>
          <div class="item">
            <p>資訊軟體</p>
            <q-icon name="close" class="icon"></q-icon>
          </div>
        </div>
      </div>
    </template>
    <template v-slot:footer>
      <q-btn class="q-mr-md no-box-shadow" color="negative" @click="changeFlag()">
        <span>{{ $t('system.cancel') }}</span>
      </q-btn>
      <q-btn class="no-box-shadow" color="positive" @click="submit()">
        <span>{{ $t('system.sure') }}</span>
      </q-btn>
    </template>
  </DialogComp>
</template>
<script>
import { defineComponent } from 'vue'
import Mixin from '../mixin'
import DialogComp from '@components/Dialog/Style1.vue'
export default defineComponent({
  components: {
    DialogComp,
  },
  mixins: [Mixin],
  props: {
    changeFlag: {
      type: Function,
      default: null,
    },
  },
  data() {
    return {
      title: this.$t('question.name'),
      roleOptions: [
        {
          label: '老闆',
          value: 1,
        },
        {
          label: '主管',
          value: 2,
        },
        {
          label: '員工',
          value: 3,
        },
      ],
      form: {
        name: '',
        account: '',
        role: null,
        email: '',
        state: false,
      },
    }
  },
  methods: {
    async submit() {
      this.changeFlag()
      this.actionAddData(this.form)
    },
  },
})
</script>
<style lang="scss" scoped>
.box {
  & > div {
    width: 50%;
  }
}
.wrap {
  position: relative;
  width: 100%;
  display: flex;
  align-content: flex-start;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  .item {
    width: auto;
    height: 25px;
    align-items: center;
    display: flex;
    padding: 5px;
    margin: 0 30px 10px 0;
    border: 1px solid rgba(0, 0, 0, 0.24);
    p {
      color: #777777;
    }
    .icon {
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
</style>