<template>
  <div class="container">
    <Menubar
      :navFlag="system.navFlag"
      :navTitile="navTitile"
      :navIcon="navIcon"
      :navList="navList"
    />
  </div>
  <div class="main" :class="{ active: system.navFlag }">
    <div class="topbar">
      <div class="toggle" @click="globalAcChangeNavFlag()">
        <q-icon name="menu"></q-icon>
      </div>
      <Breadcrumb />
      <div class="setting_icon">
        <Lang />
        <User />
      </div>
      <TagsView />
    </div>
    <router-view />
  </div>
</template>

<script>
import { ref, computed, defineComponent } from 'vue'
import { createNamespacedHelpers } from 'vuex-composition-helpers'
const { useActions } = createNamespacedHelpers('crmGlobal')
import { useStore } from 'vuex'
import Menubar from '@components/Menubar/Style3.vue'
import Breadcrumb from '@components/Breadcrumb/Style1.vue'
import Lang from '@components/Lang/Style1.vue'
import User from '@components/User/Style1.vue'
import TagsView from '@components/TagsView/Style1.vue'
export default defineComponent({
  components: {
    Menubar,
    Breadcrumb,
    Lang,
    TagsView,
    User,
  },
  setup() {
    const store = useStore()
    const system = computed(() => store.state.root.system)
    const { globalAcChangeNavFlag } = useActions(['globalAcChangeNavFlag'])
    const navTitile = ref('Cosmo')
    const navIcon = ref('apple')
    const navList = ref([
      {
        name: 'dashboard',
        path: '/dashboard',
        icon: 'home',
        children: [],
      },
      {
        name: 'auth',
        path: '/auth',
        icon: 'person',
        children: [
          { name: 'authUser', path: 'authUser' },
          { name: 'authRole', path: 'authRole' },
        ],
      },
      {
        name: 'question',
        path: '/question',
        icon: 'person',
        children: [
          {
            path: 'question1',
            name: 'question1',
          },
        ],
      },
      {
        name: 'edit',
        path: '/edit',
        icon: 'home',
        children: [],
      },
    ])
    return {
      system,
      navTitile,
      navIcon,
      navList,
      globalAcChangeNavFlag,
    }
  },
})
</script>
<style lang="scss" scoped>
$grey: $grey; //border
$white: #fff;
.container {
  position: relative;
  width: 100%;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: $white;
  transition: 0.5s;
  &.active {
    transition: 0.5s;
    width: calc(100% - 80px);
    left: 80px;
    .topbar {
      transition: 0.5s;
      width: calc(100% - 80px);
    }
  }
  .topbar {
    width: calc(100% - 300px);
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    flex-wrap: wrap;
    z-index: 10;
    background: $white;
    transition: 0.5s;
    .toggle {
      position: relative;
      width: 60px;
      height: 60px;
      left: -5px;
      display: flex;
      align-items: center;
      font-size: 2.5em;
      cursor: pointer;
    }
    .bread {
      margin-left: 3.645vw;
    }

    .setting_icon {
      position: absolute;
      right: 0;
      top: 0;
      height: 60px;
      display: flex;
      align-items: center;
    }
  }
}

@media (max-width: 991px) {
  .main {
    width: 100%;
    left: 0;
    &.active {
      left: 300px;
    }
    .topbar {
      width: 100%;
    }
  }
}
@media (max-width: 480px) {
  .main {
    .toggle {
      z-index: 11;
    }
    &.active {
      width: 100%;
      left: 100vw;
      transition: 0.35s ease;
      .toggle {
        position: relative;
        right: 0;
        left: -17vw;
        .q-icon {
          color: $white;
        }
      }
      .topbar {
        width: 100%;
      }
    }
    .topbar {
      transition: 0.35s ease;
      padding: 0 10px;
    }
  }
}
</style>
